<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap Libraries -->
  <script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">

</head>
<body class="container">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index">Home</a></li>
        <li><a href="simple">Simple Page</a></li>
        <li><a href="form">Simple Form</a></li>
      </ul>
    </div>
  </nav>

  <br />
  <br />