<% include ../partials/pageHeader %>

  <div class="jumbotron">
      <h1>Managing routes with NodeJS using Express and EJS</h1> 
      <p>Simple example to manage routes using NodeJS, Express and EJS.</p> 
      <p>All pages accessed need a route to be set and use partial code from EJS templates to avoid duplication.</p> 
  </div>

</body>
</html>