<% include ../partials/pageHeader %>

	<div class="jumbotron">
	    <h1>Simple page</h1> 
	    <p>This is the 'simple' page rendered on this path because there is a GET route set to it in the file routes/route.js.</p> 
  </div>

</body>
</html>